@keyframes marquee-left {
  to {
    transform: translateX(-50%);
  }
}
@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  gap: 1rem;
}

.marquee--left {
  animation: marquee-left 80s linear infinite;
}
.marquee--right {
  animation: marquee-right 80s linear infinite;
}
@media (prefers-reduced-motion: reduce) {
  .marquee--left,
  .marquee--right {
    animation: none;
  }
    .marquee--up {
    animation: none;
  }
}



@keyframes marquee-up {
  from { transform: translateY(0); }
  to   { transform: translateY(-50%); }
}
.marquee--up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: auto;
  height: max-content;
  animation: marquee-up 30s linear infinite;
}